.hire .container {
    margin-top: 30px
}
.container .sec-title h2{
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: left;
}

.sec-title{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.sec-title h2::after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    margin: 4px 10px;
}

.heading {
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 50px;
    font-size: 3.5rem;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px; 
    text-transform: uppercase;
}

/* Contact */
.lottie {
    text-align: center;
}
.lottie img{
    width: 95%;
    transition: transform 0.5s ease-in-out, color 0.3s ease;
}
.lottie img:hover{
    transform: scale(1.1);
}
.contact-info {
    width: 100%;
    padding-top: 10%;
}
@media (max-width: 767px) {
    .heading{
        font-size: 2.5rem;
    }
    .contact-info {
        width: 98%; 
        margin-left: auto;
        margin-right: auto;
    }
}

.info-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e1d9d9dc;
    transition: transform 0.3s ease-in-out;
}
.info-box:hover {
    transform: scale(1.05); 
}

.info-icon {
    margin-right: 20px;
    font-size: 20px;
    color: #e24327;
    border-radius: 50%;
    color: #3498db;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px;
}
.gradient-icon i {
    border-radius: 50%;
    background-color: black;
}
.gradient-icon {
    font-size: 24px;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    -webkit-background-clip: text; 
    color: transparent; 
    display: inline-block;
    padding: 5px; 
    transition: transform 0.6s ease-in-out, color 0.3s ease;
}
.info-box:hover .gradient-icon {
    transform: rotate(360deg); 
    color: #f39c12; 
}

.info-text h4 {
    margin: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.info-text p {
    margin: 0;
    color: var(--text-color);
}

.gradient-link p {
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(45deg, #8e44ad, #3498db); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-link:hover p {
    font-weight: bolder;
    background: linear-gradient(45deg, #f39c12, #e74c3c); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
