* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color:#080808;
    --second-bg-color:#101010;
    --text-color:white;
    --main-color:#ea580c;
    --main-color1:#f39c12;

}

html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: rgba(255, 255, 255, 0.08);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /* font-family: "Poppins"; */
}

.home {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
}

.header {
    font-family: "Poppins";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon {
    font-size: 3.5rem ;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
span{

    background: linear-gradient(
        270deg,
        #DF8908 10%,
        #ff1d15 100%
    );

    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem ;
    font-weight: 900;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.navbar a.active {
    font-weight: bolder;
    background: linear-gradient(45deg, #f39c12, #e74c3c); 
    -webkit-background-clip: text;
    color: transparent; 
    display: inline-block; 
    border-bottom: 3px solid var(--main-color); 
}

.wavy-text {
    display: inline-block;
    font-size: 18px;
    position: relative;
    animation: wave-animation 1.5s ease-in-out infinite;
}

@keyframes wave-animation {
    0% { transform: translateY(0); }
    20% { transform: translateY(-3px); }
    40% { transform: translateY(3px); }
    60% { transform: translateY(-3px); }
    80% { transform: translateY(3px); }
    100% { transform: translateY(0); }
}


.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
   
    background: linear-gradient(
        270deg,
        #DF8908 10%,
        #ff1d15 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.05);
}


.background-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(30%) blur(1px);
}

.container .sec-title h2{
    padding-top: 160px;
    font-size: 1.2rem;
    text-align: left;
}

.sec-title{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.sec-title h2::after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    margin: 4px 10px;
}

.heading {
    font-family: "Poppins";
    text-align: center;
    /* text-decoration: underline; */
    /* text-underline-offset: 10px;
    text-decoration-thickness: 5px; */
    margin-bottom: 50px;
    font-size: 3.5rem;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px; 
}


 /* Media Query for mobile view  */
@media(max-width: 1285px) {
    #menu-icon {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
        z-index: 1001;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar.active {
        display: block;
    }

    .gradient-btn {
        display: none;
    }
    
}

/* INFOOOOOOOOOOO */

.lottie img{
    width: 90%;
    transition: transform 0.5s ease-in-out, color 0.3s ease;
}
.lottie img:hover{
    transform: scale(1.1);
}
.contact-info {
    width: 100%;
    padding-top: 10%;
}
@media (max-width: 767px) {
    .heading{
        font-size: 2.5rem;
    }
    .contact-info {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }
}

.info-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e1d9d9dc;
    transition: transform 0.3s ease-in-out;
}
.info-box:hover {
    transform: scale(1.05); 
}

.info-icon {
    margin-right: 20px;
    font-size: 20px;
    color: #e24327;
    border-radius: 50%;
    color: #3498db;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px;
}
.gradient-icon i {
    border-radius: 50%;
    background-color: black;
}
.gradient-icon {
    font-size: 24px;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    -webkit-background-clip: text; 
    color: transparent; 
    display: inline-block;
    padding: 5px; 
    transition: transform 0.6s ease-in-out, color 0.3s ease;
}
.info-box:hover .gradient-icon {
    transform: rotate(360deg); /* Rotate the icon slightly on hover */
    color: #f39c12; /* Change the color on hover */
}

.info-text h4 {
    margin: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.info-text p {
    margin: 0;
    color: var(--text-color);
}

.gradient-link p {
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(45deg, #8e44ad, #3498db); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.4s ease-in-out;
}

.gradient-link:hover p {
    font-weight: bolder;
    background: linear-gradient(45deg, #f39c12, #e74c3c); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
